demo/target/classes/demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd6ff655-59c2-4864-95f7-60c6b79855c0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demoFlow" doc:id="2e2dc8e0-ce0a-4db8-91e6-e696b65ffd51" >
		<http:listener doc:name="Listener" doc:id="87759ba5-4c80-4a35-be16-5984ed85f37e" config-ref="HTTP_Listener_config" path="demo"/>
		<ee:transform doc:name="Transform Message" doc:id="1e99d0eb-199a-47a9-8d8b-fb08725a82a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"result": payload.a + payload.b
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b7245f33-c374-40d2-95a6-c40eaadc5521" message='"successfully executed add operation"'/>
	</flow>
</mule>
